<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/security
                    http://www.springframework.org/schema/security/spring-security.xsd ">

	<global-method-security pre-post-annotations="enabled" />

	<http pattern="/css/**" security="none" />
	<http pattern="/js/**" security="none" />
	<http pattern="/img/**" security="none" />


	<http auto-config="true" use-expressions="true">
	    <intercept-url pattern="/welcome" access="permitAll" />
		<intercept-url pattern="/home" access="hasAnyRole('ROLE_USER')" />
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />

		<form-login login-page="/login"
			authentication-failure-url="/loginError" default-target-url="/home"
			username-parameter="email" password-parameter="password"
			authentication-success-handler-ref="authSuccessHandler"
			login-processing-url="/authenticate" />

		<access-denied-handler error-page="/accessError" />

		<logout invalidate-session="true" logout-success-url="/" 
			logout-url="/doLogout" />
	</http>

	<beans:bean id="authSuccessHandler" class="br.com.democracy.security.AuthenticationSuccessHandler"/>
	
	<authentication-manager erase-credentials="true">
		<authentication-provider user-service-ref="userDetailsService">
			<password-encoder ref="passwordEncoder" />
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="passwordEncoder"
		class="org.springframework.security.crypto.password.StandardPasswordEncoder" />

	<beans:bean id="userDetailsService"
		class="br.com.democracy.service.impl.UserDetailsServiceImpl" />

</beans:beans>